.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;

  overflow: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

/* .modal__close {
  position: absolute;
  background-image: url("/src/images/gray-close-icon.svg");
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 28px;
} */

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 28px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  accent-color: black;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label {
  width: 100%;
  top: 265px;
  left: 500px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  size: 16px;
  line-height: 20px;
}

.modal__label_type_radio {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
  display: initial;
}

.modal__submit {
  width: 124px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  border: none;
  transition: visibility, background-color 0.3s;
  margin-top: 10px;
  color: #ffffff;
}

.modal__submit:hover {
  opacity: 60%;
}

.modal__submit[disabled] {
  background-color: #999;
  opacity: 0.6;
  cursor: not-allowed;
}

.modal__submit[disabled]:hover {
  opacity: 0.6; /* Keep the same opacity as disabled state */
}

.modal__radio-input:checked + .modal__label_type_radio {
  color: #000;
}

.modal__buttons-container {
  display: flex;
  border: 0px;
  align-items: center;
  background: transparent;
  gap: 10px;
}

.modal__secondary-btn {
  display: flex;
  border: 0px;
  align-items: center;
  background: transparent;
}

.modal__error {
  color: red;
  font-size: 12px;
  margin: 0px;
  position: absolute;
}

.radio-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

.radio-group__error {
  color: red;
  font-size: 12px;
  margin: 0;
  position: absolute;
  bottom: 0; /* Positions it below the radio buttons */
  left: 0;
}
