.profile {
    display: flex;
  }
  
  .profile__sidebar {
    display: flex;
    width: 229px;
    height: 56px;
  }

  .profile__clothing-items{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  }