.card {
  width: 323px;
  height: 326px;
  object-fit: cover;
  border-radius: 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__name {
  position: absolute;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  margin: 16px 0 0;
  max-width: 73px;
  max-height: 24px;
  width: auto;
  height: auto;
  top:16px
}

.card__image {
  width: 100%;
  /* width: 200px; */
  border-radius: 19px;
  object-fit: cover;
   height: 326px; 
}
