.footer {
  padding: 0 0 24px;
  /* font-family: Cabinet Grotesk, Arial, sans-serif; */
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 171px;
}

.footer__copyright {
  margin: 0;
  position: absolute;
}

.footer__year {
  text-align: right;
  margin: 0;
}